<div class="main-sec">
    <section class="box">
        <h3>Usuários</h3>

        <a href="/user/create">Cadastrar</a>
        <a href="/user/view">Listar</a>
    </section>

    <section class="box">
        <h3>Livros</h3>

        <a href="/book/add">Cadastrar</a>
        <a href="/book/view">Listar</a>
    </section>
</div>