<form action="/book/add" method="post" class="form">
    <div class="form-control">
        <label for="nomeL">Título do livro:</label>
        <input type="text" name="nomeL" placeholder="ex.: O Alienista">
    </div>
    <div class="form-control">
        <label for="autor">Nome do autor:</label>
        <input type="text" name="autor" placeholder="ex.: Machado de Assis">
    </div>
    <div class="form-control">
        <label for="preco">Preço:</label>
        <input type="text" name="preco" placeholder="ex.: R$32.90">
    </div>
    <div class="form-control form-checkbox">
        <input type="checkbox" name="capaDura">
        <label for="capaDura">Capa dura?</label>
    </div>
    <div class="form-control">
        <input type="submit" value="Cadastrar">
    </div>
</form>